/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Global Styles
===============
*/

body {
    font-family: var(--bs-font-sans-serif);
    background: var(--bs-dark);
    color: var(--bs-gray-200);
  }

  ul {
    list-style-type: none;
  }
  

  a {
    color: var(--clr-white);
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 1rem 1rem;
    transition: var(--transition);
    text-decoration: none;
    align-content: center;
  }


  /*
=============== 
Class Styles
===============
*/  

.row-gray{
  background: var(--bs-gray-600);
}

.h2-block h2{
  display:block;
}

.nav-link{
  color: var(--bs-gray-200);
}

/*set different media for images*/

.links img {
  display: block;
  margin-right:5rem;
  transition: var(--transition);
}

.links {
  height: auto;
  overflow: hidden;
  transition: var(--transition);
  display: flex;
}  

:root {
--transition: all 0.3s linear;
}